weekly wages

In [4]:
hours = input('enter hours (space separated): ')
wage = int(input('enter hourly wage: '))

hours = hours.split()
week_hours = [int(x) for x in hours]

total_hrs = sum(week_hours)

if total_hrs <= 40:
    total_wages = total_hrs * wage
else:
    overtime = total_hrs - 40
    total_wages = 40 * wage + overtime * wage * 1.5

print('total wage:', total_wages)

enter hours (space separated):  65
enter hourly wage:  3

total wage: 232.5

remove duplicates

In [5]:
# Given list with duplicate values, can modify the list
L1 = [3, 5, 7, 9, 3, 6, 5, 2, 3, 7, 10]

# Initialize an empty list for unique elements
res = []

# Write the logic below for  loop and if condtion to process the list and collect unique elements
for i in L1:
    if i not in res:
        res.append(i)
        print(res)

[3]
[3, 5]
[3, 5, 7]
[3, 5, 7, 9]
[3, 5, 7, 9, 6]
[3, 5, 7, 9, 6, 2]
[3, 5, 7, 9, 6, 2, 10]

rotate a list

In [6]:
l1=[1,2,3,4,5,6]
n=int(input('no of rotation'))
rotated=l1[n:] + l1[:n]
print(rotated)

no of rotation 3

[4, 5, 6, 1, 2, 3]

palindrome

In [7]:
l1=[5,4,3,3,4,5]
rev=l1[::-1]
if l1==rev:
    print('palindrome')
else:
    print('not palindrome')

palindrome